*{
      box-sizing: border-box;
      padding: 0;
      margin: 0;
}
body{
      font-family: 'Roboto', sans-serif;
      background: #000000f2;
}
.preloader{
      background: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
}
.menu{
      transition: transform 1s;
}
.header{
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 75px;
      align-items: center;
}
.toggle{
      display: none;
}
.menu{
      color: #fff;
      display: flex;
      align-items: center;
}
.nav_list{
      height: 100%;
      list-style: none;
      display: flex;
      align-items: center;
}
.nav_item{
      margin-right: 10px;
}
.nav_link{
      padding: 15px;
      color: rgb(228, 228, 228);
      text-transform: capitalize;
      text-decoration: none;
      font-size: 1.3rem;
      letter-spacing: 1px;
}
.profile{
      position: relative;
      padding: 20px 0;
      cursor: pointer;
}
#pro, .pro_icon{
      color: #fff;
      margin-left: 15px;
      font-size: 1.5rem;
      text-transform: capitalize;
}

.profile_menu{
      display: none !important;
      background: #fff;
      color: #000;
      border-radius: 5px;
      padding: 20px;
      position: absolute;
      top: 55px;
}
.profile_menu ul{
      list-style: none;
      margin: 20px;
}
.profile_name{
      text-align: center;
      margin: 10px 0;
      text-transform: capitalize;
}
.my_list{
      margin-bottom: 10px;
      font-size: 1.3rem;
}
.profile_name{
      text-align: center;
      margin: 10px 0;
      text-transform: capitalize;
}
.profile:hover .profile_menu{
      display: block !important;
}
.logo{
      font-size: 18px;
      color: #4dbf00;
      margin-left: 2rem;
}

.active{
      font-weight: bold;
}

.toggle{
      font-size: 1.5rem;
      margin-right: 20px;
      border-radius: 30px;
      color: #fff;
}
.toggle-icon{
      color: gold;
}
.toggle-ball{
      width: 18px;
      height: 18px;
      background-color: black;
      position: absolute;
      right: 0;
      border-radius: 50%;
      cursor: pointer;
}
.left{
      left: 0;
      transition: all 2s ease-in;
}

/* ########################## HERO SECTION ######################## */
.hero{
      height: 60vh;
      width: 100%;
      background: linear-gradient(to bottom, rgba(62, 62, 62, 0.216), rgba(0, 0, 0, 0.852)), url(/img/wp4371658-avengers-movie-poster-wallpapers.jpg);
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      color: #fff;
      font-family: 'Roboto', sans-serif;
}
.hero_text{
      padding-top: 5rem;
      line-height: 1.7rem;
      width: 52%;
}
.title{
      font-size: 3.5rem;
      line-height: 3.3rem;
      font-family: 'Roboto', cursive;
}
.btn{
      border: none;
      border-radius: 3px;
      outline: none;
      padding: 10px 30px;
      font-weight: bold;
      text-transform: capitalize;
      font-size: 17px;
      letter-spacing: 1px;
      cursor: pointer;
}
.add_btn{
      background-color: rgba(0, 0, 0, 0.552);
      color: #fff;
}
.play_btn{
      background: red;
      color: #fff;
      margin-right: 15px;
}
/* ################################################################ */

.container{
      max-width: 1270px;
      margin: 0 auto;
}
section{
      background: black;
      color: #fff;
      height: 100%;
      margin: 0 !important;
}
.section_title{
      font-size: 2rem;
      font-weight: bold;
      padding: 2rem 0 2rem 2rem;
      text-transform: capitalize;
}
img{
      width: 100%;
}
.movie{
      margin: 0 15px;
      width: 350px;
      border: 1px solid rgb(63, 63, 63);
      border-radius: 20px;
      position: relative;
      height: 430px !important;
}
.movie_img{
      height: 85%;
}
.movie_img img{
      height: 100%;
      border-radius: 20px 20px 0 0;
      object-fit: cover;
}
.movie_info{
      display: flex;
      height: 15%;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      text-transform: capitalize;
}
.movie_info span{
      text-align: center;
      font-weight: bold;
}
.genre{
      font-size: 14px;
      font-weight: bold;
      color: #ccc;
      margin: 0 10px;
}
.rate{
      color: red;
}

.movie_title{
      font-size: 19px;
      letter-spacing: 2px;
            display: inline-block;
            width: 180px;
            white-space: nowrap;
            overflow-x: hidden !important;
            text-overflow: ellipsis;
}
.overview{
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      /* height: 100%; */
      background-color: #fff;
      color: #000;
      border-radius: 30px 30px 20px 20px;
      text-align: center;
      padding: 0 5px;
      transform: translateY(101%);
      transition: 0.91s transform;
}
.btn_watch{
      border: none;
      background-color: #4dbf00;
      color: #fff;
      padding: 10px 20px;
      border-radius: 30px;
      outline: none;
      margin: 10px 0;
}
.movie:hover .overview{
      transform: translateY(0);
}

ul.slick-dots{
      display: none !important;
      opacity: 0;
}

.footer{
      background: rgba(0,0,0,0.15);
      width: 100%;
      height: 100%;
      margin-top: 100px;
}

.grid{
      display: grid;
      /* grid-template-columns: 1fr; */
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
}
.flex{
      display: flex;
}
.foot_list{
      list-style: none;
}
.foot_items{
      margin-bottom: 10px;
}
.foot_link{
      color: #fff;
      padding: 10px;
      text-decoration: none;
      font-size: 19px;
      letter-spacing: 2px;
      text-transform: capitalize;
}


@media screen and (max-width: 768px) {
      .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            position: fixed;
            width: 100%;
            left: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.839);
            z-index: 99;
      }
      .menu{
            position: fixed;
            background: rgba(0, 0, 0, 0.873);
            top: 62px;
            right: 0;
            height: 100vh;
            width: 70%;
            z-index: 99;
            display: block;
            color: #fff;
            transform: translateX(100%);
      }
      .logo_text{
            font-size: 1.7rem;
            margin-left: 1rem;
      }
      .nav_list{
            margin-top: 5rem;
            padding-left: 1rem;
      }
      .nav_item{
            margin-bottom: 1rem;
      }
      .nav_link{
            color: #fff;
            /* padding: 10px; */
            text-decoration: none;
            font-size: 1.3rem;
      }
      .hero_text{
            padding-top: 6rem;
            line-height: 1rem;
            width: 89%;
      }
      .hero_text p{
            line-height: 1.5rem;
      }
      .title{
            font-size: 2rem;
      }
      section{
            padding: 0 1.5rem;
      }
      .hero{
            padding: 0 1.5rem;
      }
      .profile{
            width: 80%;
            margin-left: 20px;
      }
      .profile div{
            display: flex;
            justify-content: space-between;
      }
      #pro{
            font-size: 1.8rem;
            font-weight: bold;
            text-transform: capitalize;
      }
      .pro_icon{
            font-size: 1.4rem;
      }
      .profile_menu{
            display: none !important;
            background: #fff;
            color: #000;
            border-radius: 5px;
            margin-top: 20px;
      }
      .profile:hover .profile_menu{
            display: block !important;
      }
     

      button.slick-prev, button.slick-next{
            display: none !important;
      }
}
.show{
      transform: translateX(0);
}


.btn{
      margin-top: 1rem;
}

/* ################ CUSTOM COLORS ######################## */
.green{
      color: greenyellow;
}
.orange{
      color: orangered;
}
.gold{
      color: gold;
}
.red{
      color: red;
}